.container {
    text-align: center;
    }
    
.level {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
    
.person {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10%;
    margin: 10px 20px; 
    background-color: #ccc;
}