.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    position: sticky;

}

.navbar img {
    width: 120px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #536493;
    font-weight: 600;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    color: #8bc34a;
}

.navbar .login-btn {
    background-color: #8bc34a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.navbar .login-btn:hover {
    background-color: #7cb342;
}